@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: blue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: rgb(0, 0, 0);
    border: 3px solid white;
}

nav img{
    width: 100px;
    margin-left: 30px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

nav img:hover{
    transform: scale(1.2);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

nav ul li{
    margin-left: 30px;
    transition: 0.3s ease-in-out;
}

nav ul li:hover{
    transform: translateY(-10px);
}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: rgb(47, 47, 47);
    padding: 5px;
    border-radius: 10px;
    font-size: 23px;
}

nav ul li a:hover{
    color: red;
}

header{
    background-image: url("images/b3.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}

header h1{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 80px;
}

#sec1{
    border: 3px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(66,112,252,1) 6%, rgba(255,123,81,1) 93%);
}

#sec1 img{
    margin-left: 40px;
    height: 300px;
    border: 2px solid black;
    border-radius: 40px;
}

#sec1 p{
    color: white;
    font-size: 20px;
}

#sec2{
    border: 3px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(127,143,47,1) 21%, rgba(45,78,121,1) 60%);
}

#sec2 img{
    margin-right: 40px;
    height: 300px;
    border: 2px solid black;
    border-radius: 40px;
}

#sec2 p{
    color: white;
    font-size: 20px;
}

#sec3{
    border: 3px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(187,99,106,1) 21%, rgba(187,208,84,1) 68%);
}

#sec3 img{
    margin-left: 40px;
    height: 300px;
    border: 2px solid black;
    border-radius: 40px;
}

#sec3 p{
    color: white;
    font-size: 20px;
}
